.nav{
    height: 7%;
    background-color: brown;
    padding-top: 10px;
}

.nav a{ 
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0 30px 0 30px;
    text-decoration: none;
}

